Redirect 301 /about /about-us/
Redirect 301 /book /book-services/
Redirect 301 /books /book-services/
Redirect 301 /web /website-services/
Redirect 301 /web-creation-marketing /website-services/
Redirect 301 /graphic /graphic-design/
Redirect 301 /graphic-design-branding /graphic-design/
Redirect 301 /video /videography/
Redirect 301 /video-services /videography/
